<mat-card class="animated fadeIn card-top card-warn">
  <mat-card-content>
    <mat-card-title>Importer une liste d'administrateurs</mat-card-title>
    <mat-card-subtitle>BCN!CMC.INFOCENTRE.HERMES.ADMINWTS.UNIV.BCNDOMAIN.delegAdmin</mat-card-subtitle>

    <mat-horizontal-stepper linear="true" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Type de source</ng-template>

          <div><strong>Choisir le type de liste à importer</strong></div><br>

          <div>
            <mat-radio-group class="example-radio-group" formControlName="importType">
              <mat-radio-button class="example-radio-button" value="csv">Fichier CSV</mat-radio-button>
              <mat-radio-button class="example-radio-button" value="argos">Groupe transverse Argos</mat-radio-button>
              <mat-radio-button class="example-radio-button" value="season">AD / Groupie</mat-radio-button>
            </mat-radio-group>
          </div>

          <div class="float-r">
            <button mat-button matStepperNext color="primary">
              Suivant <mat-icon>chevron_right</mat-icon>
            </button>
          </div>
        </form>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Liste membres</ng-template>

        <div class="margin-b-20" *ngIf="firstFormGroup.value.importType == 'csv'; else searchInput">
          <button mat-raised-button color="primary" (click)="fileInput.click()">
            <mat-icon>file_upload</mat-icon> Importer un fichier CSV
          </button> <span class="filename">{{fileName}}</span>
          <input hidden type="file" #fileInput (change)="fileEvent($event)" accept=".csv">
        </div>
  
        <ng-template #searchInput>
          <mat-form-field>
            <button mat-button matSuffix color="primary" (click)="search()">
              <mat-icon>search</mat-icon> Rechercher
            </button>
            <input matInput placeholder="Nom du groupe" autocomplete="off" required>
          </mat-form-field>
        </ng-template>

        <div class="example-container mat-elevation-z3 margin-b-20">
          <div class="example-loading-shade" *ngIf="isLoadingMembers">
            <mat-spinner color="warn"></mat-spinner>
          </div>

          <table mat-table [dataSource]="dataSource">
            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef class="table-header-cell">
                Membres valides <span class="badge" *ngIf="dataSource.length != 0">17/19</span>
              </th>
              <td mat-cell *matCellDef="let element">
                <span [class.invalid]="!element.valid">{{element.name}}</span>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>

        <div class="float-r">
          <button mat-button matStepperPrevious color="primary">
            <mat-icon>chevron_left</mat-icon> Précédent
          </button>
          <button mat-button matStepperNext color="primary">Suivant <mat-icon>chevron_right</mat-icon></button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Selection des membres</ng-template>

        <div class="margin-b-20 margin-t-10">
          <mat-radio-group class="horizontal-radios" (change)="onActionChange($event)">
            <mat-radio-button value="add">Ajouter aux membres actuels</mat-radio-button>
            <mat-radio-button value="replace">Remplacer les membres actuels</mat-radio-button>
          </mat-radio-group>
        </div>

        <div class="example-container mat-elevation-z3 margin-b-20">
          <table mat-table [dataSource]="dataSource2">

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef class="table-header-cell">
                Membres du groupe <span class="badge">{{dataSource2.length}}</span>
              </th>
              <td mat-cell *matCellDef="let element" [class.old-user]="!element.new">
                <span [class.invalid]="!element.valid">{{element.name}}</span>
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>

        <div class="float-r">
          <button mat-button matStepperPrevious color="primary">
            <mat-icon>chevron_left</mat-icon> Précédent
          </button>
          <button mat-button matStepperNext color="primary">Suivant <mat-icon>chevron_right</mat-icon></button>
        </div>
      </mat-step>

      <mat-step>
        <ng-template matStepLabel>Récapitulatif</ng-template>

        <div class="example-container mat-elevation-z3 margin-t-10 margin-b-20">
          <table mat-table [dataSource]="dataSource2">

            <!-- Name Column -->
            <ng-container matColumnDef="name">
              <th mat-header-cell *matHeaderCellDef class="table-header-cell">
                Nouveaux membres du groupe <span class="badge">{{dataSource2.length}}</span>
              </th>
              <td mat-cell *matCellDef="let element">
                {{element.name}}
              </td>
            </ng-container>

            <tr mat-header-row *matHeaderRowDef="displayedColumns; sticky: true"></tr>
            <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
          </table>
        </div>

        <div class="float-r">
          <button mat-button matStepperPrevious color="primary">
            <mat-icon>chevron_left</mat-icon> Précédent
          </button>
          <button mat-raised-button color="primary" routerLink="/administrateurs">Enregistrer</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card-content>
</mat-card>