<form [formGroup]="frmStepThree">
  <div>
      <button mat-button matStepperPrevious  class="previous-button">Précédent</button>
      <button mat-button class="save-button">Sauvegrder</button>
      <button mat-button class="download-button">Télécharger</button>
  </div>

</form>
