<mat-card class="animated fadeIn card-top card-warn">
  <mat-card-content>
    <mat-card-title>Ajout d'un nouvel administrateur</mat-card-title>
    <mat-card-subtitle>BCN!CMC.INFOCENTRE.HERMES.ADMINWTS.UNIV.BCNDOMAIN.delegAdmin</mat-card-subtitle>

    <mat-horizontal-stepper linear="true" #stepper>
      <mat-step [stepControl]="firstFormGroup">
        <form [formGroup]="firstFormGroup">
          <ng-template matStepLabel>Saisir l'administrateur</ng-template>
          <mat-form-field>
            <input matInput placeholder="Nom de l'administrateur" autocomplete="off" formControlName="firstCtrl" required>
          </mat-form-field>
          <div class="float-r">
            <button mat-button matStepperNext color="primary">
              Suivant <mat-icon>chevron_right</mat-icon>
            </button>
          </div>
        </form>
      </mat-step>
      <mat-step [stepControl]="secondFormGroup">
        <form [formGroup]="secondFormGroup">
          <ng-template matStepLabel>Notification e-mail</ng-template>
          <mat-slide-toggle (change)="onChange($event)" class="margin-b-20 margin-t-10" color="warn" checked="true">Envoyer la notification e-mail</mat-slide-toggle>
          <mat-form-field appearance="outline">
            <textarea rows="13" matInput formControlName="secondCtrl" required></textarea>
          </mat-form-field>
          <div class="float-r">
            <button mat-button matStepperPrevious color="primary"><mat-icon>chevron_left</mat-icon> Précédent</button>
            <button mat-button matStepperNext color="primary">Suivant <mat-icon>chevron_right</mat-icon></button>
          </div>
        </form>
      </mat-step>
      <mat-step>
        <ng-template matStepLabel>Récapitulatif</ng-template>
        
        <section class="recap-section">
          <mat-form-field>
            <input matInput placeholder="Nom de l'administrateur" autocomplete="off" readonly value="HUMEAU, Xavier">
          </mat-form-field>
          
          <mat-form-field>          
              <input matInput placeholder="Envoi de mail" autocomplete="off" readonly value="Oui">
            </mat-form-field>
  
          <!-- <mat-form-field>          
            <textarea floatLabel="true" rows="13" matInput placeholder="Contenu de l'e-mail" readonly>{{mailTemplate}}</textarea>
          </mat-form-field> -->
        </section>

        <div class="float-r">
          <button mat-button matStepperPrevious color="primary"><mat-icon>chevron_left</mat-icon> Précédent</button>
          <button mat-raised-button color="primary" routerLink="/administrateurs">Enregistrer</button>
        </div>
      </mat-step>
    </mat-horizontal-stepper>
  </mat-card-content>
</mat-card>