<h2 mat-dialog-title>Modification de la description</h2>
<mat-dialog-content class="mat-typography">
    <mat-form-field>
        <textarea rows="3" cdkTextareaAutosize matInput placeholder="Description">Groupe utilisateurs Hermes</textarea>
    </mat-form-field>
</mat-dialog-content>

<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Annuler</button>
    <button mat-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>
        Enregistrer
    </button>
</mat-dialog-actions>