.header{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 84%;
    background: #FFFFFF;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);  
}
.header-stepper{
    position: absolute;
    left: 10%;
    right: 10%;
    top: 0%;
    bottom: 41.74%;
}
mat-horizontal-stepper{
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 85%;
    
}
mat-step{
    position: absolute;
    left: 10%;
    right: 10%;
    top: 0%;
    bottom: 41.74%;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    line-height: normal;
    font-size: 18px;
    text-align: center;
}

.previous-button{
    position: absolute;
    left: 4%;

    width: auto;
    background: #FFFFFF;
    border: 2px solid  #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    color: #EA8100;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}
.next-button{
    position: absolute;
    right: 4%;
    width: auto;
    background: #EA8100;
    border: 2px solid #EA8100;
    box-sizing: border-box;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}
.save-button{
    position: absolute;
    right: 18%;
    width: auto;
    background: #FFFFFF;
    border: 2px solid  #FFFFFF;
    box-sizing: border-box;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    color: #EA8100;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}
.download-button{
    position: absolute;
    right: 4%;

    width: auto;
    background: #EA8100;
    border: 2px solid #EA8100;
    box-sizing: border-box;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 12px;
    text-align: center;
    text-transform: uppercase;
}


::ng-deep .mat-step-header .mat-step-icon-selected {
    background-color: #EA8100; 
    content: "\f087"; 
    font-family: FontAwesome;
 }
 

 .diagnostics {
    position: absolute;
    bottom: 70px;
    left: 110px;
  }