/** No CSS for this example */

@mixin hide-option($index, $label: '') {
    mat-step-header:nth-of-type(#{$index}) {
      .mat-step-icon-not-touched span,
      .mat-step-icon span,
      .mat-step-icon-not-touched .mat-icon,
      .mat-step-icon .mat-icon {
        display: none;
      }
  
      @if ($label == '') {
        .mat-step-icon {
          height: 5px;
          width: 5px;
        }
      }
  
      .mat-step-icon-not-touched:after,
      .mat-step-icon:after {
        content: "\f00c"; 
        font-family: FontAwesome;
        position: absolute;
        left: 4px;
        top: 3px;
      }
    }
  }
  
  :host /deep/ {
  
    mat-step-header .mat-step-label {
        overflow: visible;
    }
    
  

    @include hide-option(1, 'Id');

    @include hide-option(2, 'I');

    @include hide-option(3, 'C');

  }