<div class="header">
    <div class="header-stepper">
        <mat-horizontal-stepper labelPosition="bottom" [linear]="isLinear" #stepper >
            <mat-step [stepControl]="frmStepOne">
                    <ng-template matStepLabel>Identification</ng-template>
                    <!-- Identification here -->
                    <app-identification></app-identification>
            </mat-step>
            <mat-step [stepControl]="frmStepTwo">
              <ng-template matStepLabel>Information</ng-template>
                <!-- Information here  -->
                <app-information></app-information>
            </mat-step>
            <mat-step [stepControl]="frmStepThree">
                <ng-template matStepLabel>Cartographie</ng-template>
                <!-- Workbench here -->
                <app-workbench></app-workbench>
            </mat-step>
        </mat-horizontal-stepper>
    </div>
</div>


<div class="diagnostics">
    <script>console.log(this.formService.mainForm.value | json)</script>
    {{this.formService.mainForm.value | json}}
    <!-- <div *ngFor="let key of keys()">
      <span *ngIf="myForm[key]">
        <b>{{key}}</b>: {{myForm[key]}}
      </span>
    </div> -->
  </div>