<form  [formGroup]="frmStepTwo">
    <div>
        <button mat-button matStepperPrevious  class="previous-button">Précédent</button>
        <button mat-button matStepperNext  class="next-button">Suivant </button>
    </div>
</form>
