<!-- ============================================================== -->
<!-- Profile - style you can find in header.scss -->
<!-- ============================================================== -->
<button mat-icon-button [matMenuTriggerFor]="language" matTooltip="Language">
    <mat-icon aria-label="Example icon-button with a heart icon">language</mat-icon>
</button>

<button mat-icon-button matTooltip="Manuel Utilisateur">
    <mat-icon>help_outline</mat-icon>
</button>

<button mat-icon-button matTooltip="Déclarer un incident">
    <mat-icon>error</mat-icon>
</button>

<button mat-icon-button matTooltip="Administration">
    <mat-icon>settings</mat-icon>
</button>

<mat-menu #language="matMenu" class="mymegamenu">
    <button mat-menu-item>
        Français
    </button>
    <button mat-menu-item>
        English
    </button>
    <button mat-menu-item>
        Deutsch
    </button>
    <button mat-menu-item>
        Español
    </button>
</mat-menu>