<div class="header">
    <span class="logo">
        <svg width="55" height="55" viewBox="0 0 55 55" fill="none" xmlns="http://www.w3.org/2000/svg">
            <path d="M19.5 8.5625L19.5144 8.56243L26.0072 8.5H46C47.3807 8.5 48.5 9.61929 48.5 11V37.6875C48.5 39.0682 47.3807 40.1875 46 40.1875H9C7.61929 40.1875 6.5 39.0682 6.5 37.6875V14V11.0625C6.5 9.68179 7.61929 8.5625 9 8.5625H14.5H19.5Z"
                stroke="#828282" stroke-width="3" stroke-linecap="round" stroke-linejoin="round" />
            <line x1="28.5" y1="45.5" x2="28.5" y2="42.5" stroke="#828282" stroke-width="5" stroke-linecap="round" stroke-linejoin="round"
            />
            <line x1="8" y1="46" x2="47" y2="46" stroke="#828282" stroke-width="4" stroke-linecap="round" stroke-linejoin="round" />
            <path d="M39.7071 19.7071C40.0976 19.3166 40.0976 18.6834 39.7071 18.2929L33.3431 11.9289C32.9526 11.5384 32.3195 11.5384 31.9289 11.9289C31.5384 12.3195 31.5384 12.9526 31.9289 13.3431L37.5858 19L31.9289 24.6569C31.5384 25.0474 31.5384 25.6805 31.9289 26.0711C32.3195 26.4616 32.9526 26.4616 33.3431 26.0711L39.7071 19.7071ZM16 20H39V18H16V20Z"
                fill="#27AE60" />
            <path d="M15.2929 29.2929C14.9024 29.6834 14.9024 30.3166 15.2929 30.7071L21.6569 37.0711C22.0474 37.4616 22.6805 37.4616 23.0711 37.0711C23.4616 36.6805 23.4616 36.0474 23.0711 35.6569L17.4142 30L23.0711 24.3431C23.4616 23.9526 23.4616 23.3195 23.0711 22.9289C22.6805 22.5384 22.0474 22.5384 21.6569 22.9289L15.2929 29.2929ZM39 29L16 29L16 31L39 31L39 29Z"
                fill="#F2994A" />
        </svg>
    </span>
    <label class="header-text">
        Remind File Mapping System
    </label>
</div>
<div class="cart-content">
    <div class="block">
        <button mat-raised-button class="rem-button" routerLink="/new">
            + nouvelle cartographie
        </button>
    </div>


    <mat-card class="animated fadeIn rem-cart-transp">
        <mat-card-content>
            <mat-card-title>
                Cartographies sauvegardés
                <button mat-icon-button matTooltip="Cartographies sauvegardés" 
                    matTooltipPosition="above" [matTooltipClass]="'tooltip'">
                    <mat-icon>info</mat-icon>
                </button>
            </mat-card-title>
            
            <table mat-table #t1 [dataSource]="dsCartosSauve" matSort class="mat-elevation-z8">

                <!-- Position Column -->
                <ng-container matColumnDef="createdDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.createdDate | date: 'dd/MM/yyyy'}} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Identifiant </th>

                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <ng-container matColumnDef="chantier">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Chantier </th>

                    <td mat-cell *matCellDef="let element"> {{element.codeChantier}} </td>
                </ng-container>

                    <ng-container matColumnDef="date-description">
                        <th mat-header-cell *matHeaderCellDef>
                            <mat-form-field class="rem-table-input" floatLabel="never">
                                <input matInput (keyup)="filterCartoSauve($event.target.value,'date')" placeholder="Rechercher">
                            </mat-form-field>
                        </th>
                    </ng-container>
    
                    <!-- Cost Description Column -->
                    <ng-container matColumnDef="identifiant-description">
                        <th mat-header-cell *matHeaderCellDef> 
                                <mat-form-field class="rem-table-input" floatLabel="never">
                                        <input matInput (keyup)="filterCartoSauve($event.target.value,'email')" placeholder="Rechercher">
                                </mat-form-field>    
                        </th>
                    </ng-container>
    
                    <ng-container matColumnDef="chantier-description">
                            <th mat-header-cell *matHeaderCellDef> 
                                    <mat-form-field class="rem-table-input" floatLabel="never">
                                            <input matInput (keyup)="filterCartoSauve($event.target.value,'chantier')" placeholder="Rechercher">
                                    </mat-form-field>    
                            </th>
                        </ng-container>
                        <ng-container matColumnDef="actions-description">
                                <th mat-header-cell *matHeaderCellDef>   
                                </th>
                            </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element">
                        <button mat-button class="carto-link" [routerLink]="['/reprendre', element.id]">
                            <mat-icon aria-label="Example icon-button with a heart icon">redo</mat-icon>
                            Reprendre
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns" class="example-first-header-row">
                    </tr>
                    <tr mat-header-row *matHeaderRowDef="['date-description', 'identifiant-description', 'chantier-description','actions-description']" class="second-header-row">
                    </tr>
    
                    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>

            <mat-paginator #paginator1 class="mat-elevation-z8" pageSize="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </mat-card-content>
    </mat-card>
    <mat-card class="animated fadeIn rem-cart-transp">
        <mat-card-content>
            <mat-card-title>
                Fichiers d’import finalisés
                <button mat-icon-button matTooltip="Cartographies finalisés" 
                    matTooltipPosition="above" [matTooltipClass]="'tooltip'">
                    <mat-icon>info</mat-icon>
                    </button>
            </mat-card-title>
            <table mat-table #t2 [dataSource]="dsCartosDone"  matSort class="mat-elevation-z8">

                <!-- Position Column -->
                <ng-container matColumnDef="createdDate">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Date </th>
                    <td mat-cell *matCellDef="let element"> {{element.createdDate | date: 'dd/MM/yyyy' }} </td>
                </ng-container>

                <!-- Name Column -->
                <ng-container matColumnDef="email">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Identifiant </th>
                    <td mat-cell *matCellDef="let element"> {{element.email}} </td>
                </ng-container>

                <ng-container matColumnDef="chantier">
                    <th mat-header-cell *matHeaderCellDef mat-sort-header> Chantier </th>
                    <td mat-cell *matCellDef="let element"> {{element.codeChantier}} </td>
                </ng-container>

                <ng-container matColumnDef="date-description">
                    <th mat-header-cell *matHeaderCellDef>
                        <mat-form-field class="rem-table-input" floatLabel="never">
                                <input matInput (keyup)="filterCartoFinal($event.target.value,'date')" placeholder="Rechercher">
                        </mat-form-field>
                    </th>
                </ng-container>

                <!-- Cost Description Column -->
                <ng-container matColumnDef="identifiant-description">
                    <th mat-header-cell *matHeaderCellDef> 
                            <mat-form-field class="rem-table-input" floatLabel="never">
                                    <input matInput (keyup)="filterCartoFinal($event.target.value,'email')" placeholder="Rechercher">
                            </mat-form-field>    
                    </th>
                </ng-container>

                <ng-container matColumnDef="chantier-description">
                        <th mat-header-cell *matHeaderCellDef> 
                                <mat-form-field class="rem-table-input" floatLabel="never">
                                        <input matInput (keyup)="filterCartoFinal($event.target.value,'chantier')" placeholder="Rechercher">
                                </mat-form-field>    
                        </th>
                    </ng-container>
                    <ng-container matColumnDef="actions-description">
                            <th mat-header-cell *matHeaderCellDef>   
                            </th>
                        </ng-container>

                <!-- Weight Column -->
                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef> </th>
                    <td mat-cell *matCellDef="let element">
                        <a mat-button class="carto-link" target="_blank" href="/cartographies/{{element.id}}/download">
                            <mat-icon aria-label="Example icon-button with a heart icon">get_app</mat-icon>
                            Télécharger
                        </a>
                        <button mat-button class="carto-link" >
                            <mat-icon aria-label="Example icon-button with a heart icon">edit</mat-icon>
                            Modifier
                        </button>
                    </td>
                </ng-container>

                <tr mat-header-row *matHeaderRowDef="displayedColumns" class="example-first-header-row">
                </tr>
                <tr mat-header-row *matHeaderRowDef="['date-description', 'identifiant-description', 'chantier-description','actions-description']" class="second-header-row">
                </tr>

                <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
 
            </table>

            <mat-paginator #paginator2 class="mat-elevation-z8" pageSize="5" [pageSizeOptions]="[5, 10, 20]" showFirstLastButtons></mat-paginator>
        </mat-card-content>
    </mat-card>
</div>