<h2 mat-dialog-title>Confirmation</h2>
<mat-dialog-content class="mat-typography">

    <p>Êtes-vous sûre de vouloir supprimer les membres sélectionnés du groupe ? </p>

</mat-dialog-content>
<mat-dialog-actions align="end">
    <button mat-button mat-dialog-close>Annuler</button>
    <button mat-button color="primary" [mat-dialog-close]="true" cdkFocusInitial>
        Oui
    </button>
</mat-dialog-actions>


<!-- Copyright 2018 Google Inc. All Rights Reserved.
    Use of this source code is governed by an MIT-style license that
    can be found in the LICENSE file at http://angular.io/license -->