.mat-card{
    position: relative;
    left: 0%;
    right: 10%;
    margin-top: 50px;
}
.cart-content{
  position: relative;
    left: 0%;
    right: 10%;
    top: 15%; 
    bottom: 0%;
}
.block{
  margin: 15px 15px 5px;
}
.rem-button{
    background: #EA8100;
    border: 2px solid #EA8100;
    box-sizing: border-box;
    box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.2);
    border-radius: 6px;
    color: #FFFFFF;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    text-align: center;
    text-transform: uppercase; 
}
.mat-card-content{
  box-shadow:0px 0px 30px rgba(0, 0, 0, 0.15) !important;
}

.mat-card-title{
font-family: Roboto;
font-style: normal;
font-weight: 300;
line-height: normal;
font-size: 18px;
margin-bottom: 10px;
color: #8B999E;
}


.identification-form {
  min-width: 150px;
  max-width: 500px;
  width: 80%;
}

.identification-email {
  margin-bottom: 10%;
  width: 80%;
  caret-color: green;
}
.identification-chantier {
  position: absolute;
  right: 3%;
  width: 40%;
}
.identification-entite {
  width: 35%;
}
.identification-uo {
  position: relative;
  left: 10%;
  width: 35%;
}
.mat-focused .placeholder {
  color: #EA8100;
}
::ng-deep .mat-focused 
          .mat-form-field-underline 
          .mat-form-field-ripple{
             background: #EA8100; 
            }

            
