
<form [formGroup]="frmStepOne">
  <div class="cart-content">
    <mat-card class="animated fadeIn rem-cart-transp">
        <mat-card-title>
                Identfication
        </mat-card-title>
        <mat-card-content>
              <div class="identification-form">
                <mat-form-field  class="identification-email">
                  <input matInput  formControlName="emailCtrl" [errorStateMatcher]="matcher" required> 
                  <mat-placeholder class="placeholder">email professionnel</mat-placeholder>
                  <!--<mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                   Prière d'entrer une adresse email valide
                  </mat-error>
                  <mat-error *ngIf="email.hasError('required')"></mat-error>-->
                </mat-form-field >

                <mat-form-field class="identification-chantier">
                  <input matInput  formControlName="codeChantierCtrl" [errorStateMatcher]="matcher"> 
                  <mat-placeholder class="placeholder">Code du chantier à exporter</mat-placeholder>
                  <!--<mat-error *ngIf="email.hasError('email') && !email.hasError('required')">
                    Ce code chantier n'existe pas dans Remind. Merci d'en demander la création auprès de <br>
                    <a>Contact-REM@bouyques-constuction.com</a>
                  </mat-error>  -->
                </mat-form-field >

                <mat-form-field class="identification-entite">
                    <mat-placeholder class="placeholder">Entité</mat-placeholder>
                    <mat-select formControlName="entityCtrl" required>
                        <mat-option *ngFor="let element of entities" [value]="element.value">
                          {{element.viewValue}}
                        </mat-option>
                      </mat-select>   
                </mat-form-field >

                <mat-form-field class="identification-uo">
                    <mat-placeholder class="placeholder">UO</mat-placeholder>
                    <mat-select formControlName="uoCtrl" required>
                        <mat-option *ngFor="let element of uos" [value]="element.value">
                          {{element.viewValue}}
                        </mat-option>
                      </mat-select>      
                </mat-form-field >
              </div>
        </mat-card-content>
    </mat-card>
  </div>  
  <div>
    <button mat-button matStepperPrevious class="previous-button" routerLink="/home"> < Accueil </button>
    <button mat-button matStepperNext class="next-button"> Suivant > </button>
  </div>
</form>

